In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

# Test
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
# gender_submission.csv assumes that all female passengers survived + all male passengers died
# Check to see if this assumption holds true in train.csv

women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [5]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

In [6]:
from sklearn.ensemble import RandomForestClassifier

# Score: 0.77511

# Random Forest Model
# Utilizes Pclass, Sex, SibSp, Parch
# Generates trees based on patterns in train.csv --> Predicts @ test.csv --> Results @ submission.csv

# y = train_data["Survived"]

# features = ["Pclass", "Sex", "SibSp", "Parch"]
# X = pd.get_dummies(train_data[features])
# X_test = pd.get_dummies(test_data[features])

# model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
# model.fit(X, y)
# predictions = model.predict(X_test)

# output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
# output.to_csv('submission.csv', index=False)
# print("Your submission was successfully saved!")

In [7]:
# Feature Engineering Approach
# https://triangleinequality.wordpress.com/2013/09/08/basic-feature-engineering-with-the-titanic-data/

def feature(df):

    # Title from "Name"
    df["Title"] = df["Name"].str.extract(" ([A-Za-z]+)\.", expand=False)
    
    # Size of Family (Including Passenger)
    # Some children travelled only with a nanny, therefore parch=0 for them.
    df["FamilySize"] = df["SibSp"] + df["Parch"] + 1
    
    # Letter of Cabin Location
    df["CabinLetter"] = df["Cabin"].str[0]

    # ValueError: Found unknown categories ['Countess', 'Ms'] in column 3 during transform
    rare_titles = ["Dona", "Lady", "Countess","Capt", "Col", "Don", 
                   "Dr", "Major", "Rev", "Sir", "Jonkheer", "Dona"]
    
    df["Title"] = df["Title"].replace(rare_titles, "Rare")
    df["Title"] = df["Title"].replace("Mlle", "Miss")
    df["Title"] = df["Title"].replace("Ms", "Miss")
    df["Title"] = df["Title"].replace("Mme", "Mrs")

    return df

feature_test = feature(test_data.copy())
feature_train = feature(train_data.copy())

In [8]:
feature_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilySize,CabinLetter
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,Mr,1,NaN
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Mrs,2,NaN
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Mr,1,NaN
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Mr,1,NaN
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Mrs,3,NaN

In [9]:
feature_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilySize,CabinLetter
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,2,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,2,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,1,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,2,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,1,NaN

In [10]:
##Random Forest (w/ Feature Engineering Dataset)
# Score: 0.77511 --> No change from template

# y = feature_train["Survived"]

# features = ["Pclass", "Sex", "SibSp", "Parch"]

# X = pd.get_dummies(feature_train[features])
# X_test = pd.get_dummies(feature_test[features])

# model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
# model.fit(X, y)
# predictions = model.predict(X_test)

# output = pd.DataFrame({'PassengerId': feature_test.PassengerId, 'Survived': predictions})
# output.to_csv('submission.csv', index=False)
# print("Your Random Forest (w/ Feature Engineering Dataset) submission was successfully saved!")

In [11]:
# Ensemble Learning Approach (Random Forest + Gradient Boost + Logistic Regression + SVM)

from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# You have categorical data, but your model needs something numerical. See our one hot encoding tutorial for a solution.
# Need to convert categorical data via encoding
modified_features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked", "Title", "FamilySize", "CabinLetter"]
cat_features = ["Pclass", "Sex", "Embarked", "Title", "CabinLetter"]
num_features = ["Age", "SibSp", "Parch", "Fare", "FamilySize"]

X = feature_train[modified_features]
y = feature_train["Survived"]

# X = feature_train[modified_features]
# y = feature_train["Survived"]

# https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html
# https://www.geeksforgeeks.org/using-columntransformer-in-scikit-learn-for-data-preprocessing/
preprocessor = ColumnTransformer(
    transformers=[
        ("num", Pipeline([
            ("imputer", SimpleImputer(strategy="median")),
            ("scaler", StandardScaler())
        ]), num_features),
        ("cat", Pipeline([
            ("imputer", SimpleImputer(strategy="most_frequent")),
            ("onehot", OneHotEncoder(drop="first", sparse_output=False, handle_unknown="ignore"))
        ]), cat_features)
    ])

# Ensemble Ingredients
rf = RandomForestClassifier(n_estimators=100, random_state=1984)
gb = GradientBoostingClassifier(n_estimators=100, random_state=1984)
lr = LogisticRegression(random_state=1984)
svm = SVC(probability=True, random_state=1984)

# Voting Classifier
# https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html
# https://www.kaggle.com/code/marcinrutecki/voting-classifier-for-better-results
vote_pipeline = Pipeline([
    ("preprocessor", preprocessor),
    ("classifier", VotingClassifier(
        estimators=[("rf", rf), ("gb", gb), ("lr", lr), ("svm", svm)],
        voting="soft"
    ))
])

# Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1984)


# Fit the ensemble model
vote_pipeline.fit(X_train, y_train)

# Score 
train_score = vote_pipeline.score(X_train, y_train)
test_score = vote_pipeline.score(X_test, y_test)

print(f"Train score: {train_score:.5f}")
print(f"Test score: {test_score:.5f}")

Train score: 0.88904
Test score: 0.82123

In [12]:
X_test_complete = feature_test[modified_features]
predictions = vote_pipeline.predict(X_test_complete)

In [13]:
output = pd.DataFrame({'PassengerId': feature_test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your Ensemble Learning (w/ Feature Engineering Dataset) submission was successfully saved!")

Your Ensemble Learning (w/ Feature Engineering Dataset) submission was successfully saved!